@import url('../styleGlobal.css');

/* General styles end */
.icon-wrapper{
  width: 50px;
  height: 50px;
  padding: 25px;
  background-color: var(--gray);
  border-radius: 10px;
  cursor: pointer;
}
.icon{
  max-width: 100%;
}
.icon-wrapper:hover .icon{
  animation: shake 1s forwards;
}
@keyframes shake {
  10%{
      transform: rotate(15deg);
  }
  20%{
      transform: rotate(-15deg);
  }
  30%{
      transform: rotate(15deg);
  }
  50%{
      transform: rotate(0deg);
  }
}

