@import url("../styleGlobal.css");

.hidden {
  display: none;
}
#startAudio,
#stopAudio {
  border: 0px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: 800ms;
  cursor: pointer;
  margin:0 10px;
}

#startAudio {
  background-color: rgba(41, 128, 185, .5);
  border-color: rgba(41, 128, 185, .7);
}

#stopAudio {
  background-color: rgba(192, 57, 43, .5);
  border-color: rgba(192, 57, 43, .7);
}

#startAudio i {
  font-size: 2em;
  color: rgba(41, 128, 185, 1.0);
}

#stopAudio i {
  font-size: 2em;
  color: rgba(192, 57, 43, 1.0);
}

#startAudio:hover {
  background-color: rgba(41, 128, 185, .7);

}

#stopAudio:hover{
  background-color: rgba(192, 57, 43, .7);

}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}